In [ ]:
# Q1) What are data structures, and why are they important?
# Ans1) Data structure is kind of a data container where any information or data gets stored in a sequencial manner. It is important because it is a way of organizing and storing data so that it can be accessed & manipulated or used efficeintly to get some insights of it.
#       Example of Data structure are List, String and so on

# Q2) Explain the difference between mutable and immutable data types with examples?
# Ans2) Mutable data types are those whose values can be changed after creation. The memory location of a mutable object remains unchanged when it is modified in-place. As a result, all references to that object will change.
#       Examples of Mutable data types are list: Lists are ordered collections that can be modified by adding, removing, or changing elements.
#                                          Dict: Dictionaries are collections of key-value pairs, and we can add, remove, or modify items using their keys.
#                                          Set: Sets are unordered collections of unique elements, and we can add or remove elements from them.

#       Immutable data types are those whose values cannot be changed after creation. When you modify an immutable object, you create a new object with the modified value, and the original object remains unchanged. As a result, any variables referencing the original object won't be updated.
#       Examples of Immutable data types are Int: Integer data type represents whole numbers, and once created, their value cannot be changed.
#                                            Float: Floating-point data type represents real numbers and is immutable.
#                                            Str: String data type represents a sequence of characters, and you cannot change its individual characters.
#                                            Tuple: A tuple is an ordered collection, similar to a list, but their elements cannot be modified once they have been created.

# Q3) What are the main differences between lists and tuples in Python?
# Ans3) The main diffrence between both is Lists are mutable(can be modified) & Tuples are immutable(cannot be modified).Lists have several built-in methods & Tuples have fewer built-in methods
#       Iteration over lists is time-consuming & Iterations over tuple is faster. Lists are better for performing operations, such as insertion and deletion & Tuples are more suitable for accessing elements efficiently.
#       Lists consume more memory & Tuples consumes less memory. Lists are more prone to unexpected changes and errors & Tuples, being immutable are less error prone.

# Q4) Describe how dictionaries store data?
# Ans4) Dictionaries in Python are a collection of key-value pairs, where each key is associated with a value. They are mutable, meaning they can be changed after they are created, and they do not allow duplicate keys, ensuring that each key is unique within a dictionary.

# Q5) Why might you use a set instead of a list in Python?
# Ans5) A set is an unordered collection of unique elements. Sets are defined using curly braces {} or the set() function.
#       In Python, both sets and lists are used to store collections of elements but they have key differences that make them suitable for different use cases where If duplicates are not meaningful in your data.. The main difference is that lists are ordered, meaning the order of elements is preserved and they can be accessed by their index while sets are unordered meaning they do not maintain the order of elements and automatically ensure all elements are unique.

# Q6) What is a string in Python, and how is it different from a list?
# Ans6) A string is a sequence of characters represent & manipulate textual data, In string characters are represented using numerical values & enclosed in quotes (single, double, or triple). Strings are immutable, meaning once created, they cannot be changed. Each character in a string can be accessed using indexing or slicing operations.
#       On the other hand list is a built-in dynamic sized array (automatically grows and shrinks). We can store all types of items (including another list) in a list. A list may contain mixed type of items, this is possible because a list mainly stores references at contiguous locations and actual items maybe stored at different locations.

# Q7) How do tuples ensure data integrity in Python?
# Ans7) Because of its immutability feature tuples ensure data integrity in Python. Tuples can store heterogeneous data types, making them ideal for grouping related but distinct pieces of information. Their immutability ensures that the grouped data remains intact and logically connected.

# Q8) What is a hash table, and how does it relate to dictionaries in Python?
# Ans8) A hash table is a data structure that maps keys to values using a hash function. This function computes an index into an array of buckets or slots, from which the desired value can be found. Hash tables are widely used for their efficiency in performing insertions, deletions, and lookups.

# Q9) Can lists contain different data types in Python?
# Ans9) Yes lists can contain different data types in Python. Python lists are highly flexible and can store a mix of integers, floats, strings, booleans, objects, or even other lists. This versatility makes Python lists a powerful tool for handling diverse collections of data.

# Q10) Explain why strings are immutable in Python?
# Ans10) Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc. 
#        The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use & so on.

# Q11) What advantages do dictionaries offer over lists for certain tasks?
# Ans11) Dictionaries offer several advantages over lists for certain tasks:
#        Fast Value Retrieval: Dictionaries allow for quick access to values using unique keys, making data retrieval significantly faster compared to lists.
#        Efficient Searches and Deletions: For large-scale searches and deletions, dictionaries outperform lists, as they can locate and remove items more efficiently.
#        Flexible Data Organization: Unlike lists, which maintain order, dictionaries store data in key-value pairs, allowing for more flexible and intuitive data organization.
#        These advantages make dictionaries particularly useful in scenarios where quick access and efficient data management are essential.

# Q12) Describe a scenario where using a tuple would be preferable over a list?
# Ans12) When we dont want to change the data in that scenerio Tuple is preferable because of its immutability.

# Q13) How do sets handle duplicate values in Python?
# Ans13) Sets ignore duplicate values. In Python, a set is an unordered collection of unique elements. This means that a set cannot contain duplicate elements. When you try to add a duplicate element to a set, it will be ignored, and the set will remain unchanged.

# Q14) How does the “in” keyword work differently for lists and dictionaries?
# Ans14) The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries.

# Q15) Can you modify the elements of a tuple? Explain why or why not?
# Ans15) We cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. The design choice for immutability is primarily for efficiency, as it allows for optimizations in memory usage and performance.

# Q16) What is a nested dictionary, and give an example of its use case?
# Ans16) A nested dictionary in Python is a dictionary inside another dictionary. This allows you to store complex data structures in a single dictionary. Each key in the outer dictionary can map to another dictionary, enabling hierarchical data storage.
#        You can add elements to a nested dictionary by specifying the key and value

# Q17) Describe the time complexity of accessing elements in a dictionary?
# Ans17) Not aware about this concept.

# Q18) In what situations are lists preferred over dictionaries?
# Ans18) To Maintain order, making them great when sequence matters. Allow duplicates—ideal for collections where repetition is key. Quick access to elements by index, perfect for iteration. Perfect for key-value pairs—associate unique keys with values.

# Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?
# Ans19) A dictionary is often referred to as an unordered collection of objects because the elements within a dictionary are not arranged in a specific order. In other words, the items in a dictionary do not have an inherent positional index like they do in a list or an array.

# Q20) Explain the difference between a list and a dictionary in terms of data retrieval.
# Ans20) The key difference between a list and a dictionary in terms of data retrieval lies in how data is accessed and the efficiency of that access:
#        List - Ordered collection of items, Items are accessed by index, which is an integer starting from 0.Requires knowing the position of the item, Time complexity for retrieval by index: O(1) (very fast),Searching for a value (e.g., find 'banana') is O(n) since it may require scanning the whole list
#        Dictionary - Unordered (or insertion-ordered in Python 3.7+) collection of key-value pairs, Items are accessed by key, which can be any immutable type (e.g., string, number), Requires knowing the key, Time complexity for retrieval by key: O(1) (on average), More efficient than lists when accessing data by some identifier.

In [1]:
# Practical Questions

# Q1) Write a code to create a string with your name and print it.

name = "Vikas Gaur"
name

'Vikas Gaur'

In [2]:
print("My name is", name)

My name is Vikas Gaur

In [3]:
# Q2) Write a code to find the length of the string "Hello World".

# Define the string
first_code = "Hello World"

# Find the length using len()
length = len(first_code)
length

11

In [4]:
print("length of the string is",length)

length of the string is 11

In [6]:
# Q3) Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
remove_characters = text[:3]
remove_characters

'Pyt'

In [7]:
print(remove_characters)

Pyt

In [20]:
# Q4) Write a code to convert the string "hello" to uppercase

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [22]:
# Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple"

fruit = "I like apple"
new_fruit = fruit.replace("apple", "orange")
new_fruit

'I like orange'

In [23]:
print(new_fruit)

I like orange

In [26]:
print(new_fruit.replace("orange", "mango"))

I like mango

In [27]:
# Q6) Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [28]:
print(numbers)

[1, 2, 3, 4, 5]

In [29]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [30]:
# Q7) Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [31]:
# Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers_list = [1, 2, 3, 4, 5]
numbers_list.remove(3)
print(numbers_list)

[1, 2, 4, 5]

In [34]:
# Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']

abcd_list = ['a', 'b', 'c', 'd']
second_element = abcd_list[1]
print(second_element)

b

In [35]:
abcd_list = ['a', 'b', 'c', 'd']
abcd_list[1]

'b'

In [39]:
# Q10) Write a code to reverse the list [10, 20, 30, 40, 50]

normal_list = [10, 20, 30, 40, 50]
normal_list.reverse()
print(normal_list)

[50, 40, 30, 20, 10]

In [40]:
normal_list = [10, 20, 30, 40, 50]
reverse_list = normal_list[::-1]
print(reverse_list)

[50, 40, 30, 20, 10]

In [41]:
# Q11) Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tup = (100, 200, 300)
print(my_tup)

(100, 200, 300)

In [42]:
my_tup

(100, 200, 300)

In [44]:
# Q12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

my_tup = ('red', 'green', 'blue', 'yellow')
my_tup[-2]

'blue'

In [45]:
my_tup[2]

'blue'

In [50]:
my_tup[:-1]

('red', 'green', 'blue')

In [51]:
my_tup[::-1] # Reverse order

('yellow', 'blue', 'green', 'red')

In [55]:
# Q13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

my_tup = (10, 20, 5, 15)
newmy_tup = min(10, 20, 5, 15)
newmy_tup

5

In [56]:
my_tup = (10, 20, 5, 15)
newmy_tup = max(10, 20, 5, 15)
newmy_tup

20

In [57]:
# Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animal_tup = ('dog', 'cat', 'rabbit')
animal_cat = animal_tup.index("cat")
animal_cat

1

In [58]:
animal_tup = ('dog', 'cat', 'rabbit')
animal_tup.index("cat")

1

In [59]:
# Q15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruit_tup = ("apple", "banana", "mango", "kiwi")
if "kiwi" in fruit_tup:
    print("Yes, kiwi in the fruit_tup.")
else:
    print("No, kiwi is not there.")

Yes, kiwi in the fruit_tup.

In [60]:
# Q16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

alpha_set = {"a", "b", "c"}
print(alpha_set)

{'b', 'c', 'a'}

In [61]:
alpha_set

{'a', 'b', 'c'}

In [65]:
# Q17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}

num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

In [68]:
# Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}

num_set = {1, 2, 3, 4}
num_set.remove(4)
print(num_set)

{1, 2, 3}

In [69]:
# Q19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [73]:
union_set3 = set1 | set2
print(union_set3)

{1, 2, 3, 4, 5}

In [74]:
# Q20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [75]:
intersection_set3 = set1 & set2
print(intersection_set3)

{2, 3}

In [79]:
# Q21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it

information_dict = {
    "name" : "Vikas",
    "age" : 35,
    "city" : "Gurgaon"
}
print(information_dict)

{'name': 'Vikas', 'age': 35, 'city': 'Gurgaon'}

In [82]:
# Q22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

information_dict = {'name': 'John', 'age': 25}
information_dict["country"] = "USA"
information_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [83]:
print(information_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [84]:
# Q23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

information_dict = {'name': 'Alice', 'age': 30}
name_value = information_dict['name']
name_value

'Alice'

In [85]:
print(name_value)

Alice

In [87]:
name_value1 = information_dict.get('name')
name_value1

'Alice'

In [90]:
# Q24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

information_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del information_dict["age"]
information_dict

{'name': 'Bob', 'city': 'New York'}

In [95]:
information_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
information_dict.pop("age")

22

In [98]:
# Q25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

city_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in city_dict:
    print("key 'city' is there in the dictionary.")
else:
    print("key 'city' is not there in the dictionary.")

key 'city' is there in the dictionary.

In [99]:
# Q26) Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3]

# Creating a tuple
my_tuple = ('a', 'b', 'c')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

In [101]:
# Q27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Printing the sorted list
print(random_numbers)

[15, 18, 21, 90, 98]

In [102]:
# Q28) Write a code to create a list with strings and print the element at the third index.

# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index (4th element)
print(my_list[3])

date

In [103]:
# Q29) Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

combined_dict = dict1 | dict2
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [104]:
combined_dict = dict1.copy()
combined_dict.update(dict2)
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [105]:
# Q30) Write a code to convert a list of strings into a set.

fruit_list = ['apple', 'banana', 'apple', 'cherry', 'banana']
fruit_set = set(fruit_list)
fruit_set

{'apple', 'banana', 'cherry'}

In [106]:
print(fruit_set)

{'banana', 'apple', 'cherry'}